# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

charts/*/Chart.lock
charts/*/charts

# testing
/coverage
/tests/cypress/artefacts
/tests/cypress/screenshots
/tests/cypress/videos
/tests/cypress/downloads
/tests/cypress/screenshots/*
ctrf/ctrf-report.json
/report/*


# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/public/env.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.nyc_output/*

public/env.js
*.test.ts

# built docs
/docs/build

/.vs
/.vscode
.idea/
junit.xml
linting.xml
unit-tests.xml
PrivateRules.mak

manifests.yaml