
# Configure Ingress
ingress:
  enabled: true
  prependByNamespace: true
  path: pht

runtimeEnv:
  skipPreflightCheck: "true"
  skaOsoServicesUrl: ""
  skaSensitivityCalcUrl: ""
  useLocalData: "false"
  domain: "https://sdhp.stfc.skao.int"
  skaLoginAppUrl: ""
  msentraRedirectUri: ""

component: pht-ui
function: ui
domain: operations
enabled: true
image:
  registry: artefact.skao.int
  image: ska-oso-pht-ui
  tag: ~
  pullPolicy: IfNotPresent

vault:
  enabled: true
  mount: dev
  secretPath: "stargazers/ska-oso-pht-ui"
  secretKeys:
  - "MSENTRA_CLIENT_ID"
  - "MSENTRA_TENANT_ID"