apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Chart.Name }}
  labels:
{{ include "ska-oso-pht-ui.labels" . | indent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ $.Chart.Name }}
  template:
    metadata:
      labels:
{{ include "ska-oso-pht-ui.labels" . | indent 8 }}
      annotations:
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.registry }}/{{ .Values.image.image }}:{{$.Values.image.tag | default $.Chart.AppVersion}}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          env:
            - name: SKIP_PREFLIGHT_CHECK
              value: {{ .Values.runtimeEnv.skipPreflightCheck | quote }}
            - name: REACT_APP_SKA_PHT_BASE_URL
              value: {{ include "ska-oso-pht-ui.ingress.path" . | quote }}
            - name: REACT_APP_SKA_OSO_SERVICES_URL
              value: {{ include "ska-oso-pht-ui.urls-skaOsoServicesUrl" . | quote }}
            - name: REACT_APP_SKA_SENSITIVITY_CALC_URL
              value: {{ include "ska-oso-pht-ui.urls-skaSensitivityCalcUrl" . | quote }}
            - name: REACT_APP_USE_LOCAL_DATA
              value: {{ .Values.runtimeEnv.useLocalData | quote }}
            - name: REACT_APP_USE_MOCK_CALL
              value: { { .Values.runtimeEnv.mockCall | quote } }
            - name: REACT_APP_DOMAIN
              value: {{ .Values.runtimeEnv.domain | quote }}
            - name: REACT_APP_SKA_LOGIN_APP_URL
              value: {{ include "ska-oso-pht-ui.urls-skaLoginAppUrl" . | quote }}
            - name: MSENTRA_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: ska-oso-pht-ui-allsecrets-{{ $.Release.Name }}
                  key: MSENTRA_CLIENT_ID
            - name: MSENTRA_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: ska-oso-pht-ui-allsecrets-{{ $.Release.Name }}
                  key: MSENTRA_TENANT_ID
            - name: MSENTRA_REDIRECT_URI
              value: {{ include "ska-oso-pht-ui.urls-msentraRedirectUri" . | quote }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 60
      volumes:
        - name: config
          configMap:
            name: {{ $.Chart.Name }}-nginx-config

